name: sleep-alert

on:
  # schedule:
  #   - cron: '30 13 * * *'
  workflow_dispatch:

jobs:
  sleep-alert:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Run
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      run: bash notify.sh
